<div class="jumbtron">
    <h1 class="display-4 text-center">User Info Detail</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <input required name="FirstName" #FirstName="ngModel" [(ngModel)]="formData.FirstName" placeholder="please type your first name" class="form-control">
                    </div>  
                    <div *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)"
                        class="alert alert-danger">
                        <div *ngIf="FirstName.errors.required">
                            First Name is required
                        </div>
                    </div>      
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <input required name="LastName" #LastName="ngModel" [(ngModel)]="formData.LastName" placeholder="please type your last name" class="form-control">
                    </div>
                    <div *ngIf="LastName.invalid && (LastName.dirty || LastName.touched)"
                        class="alert alert-danger">
                        <div *ngIf="LastName.errors.required">
                            Last Name is required.
                        </div>
                    </div>        
                </div>
                <!--<div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                        <input name="DateOfBirth" #DateOfBirth="ngModel" [(ngModel)]="service.formData.DateOfBirth" placeholder="Please type date of birth" class="form-control">
                    </div>        
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fas fa-mars-double"></i>
                            </div>
                        </div>
                        <select required name="Gender" #Gender="ngModel" [(ngModel)]="formData.Gender" class="custom-select">
                            <option value="">select gender...</option>
                            <option value="m">Male</option>
                            <option value="f">Female</option>
                        </select>
                    </div>
                    <div *ngIf="Gender.invalid && (Gender.dirty || Gender.touched)"
                        class="alert alert-danger">
                        <div *ngIf="Gender.errors.required">
                            Gender is required.
                        </div>
                    </div>        
                </div>-->
            
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-id-card"></i>
                            </div>
                        </div>
                        <input required name="NationalID" #NationalID="ngModel" [(ngModel)]="formData.NationalID" placeholder="please type your national id number" class="form-control">
                    </div>  
                    <div *ngIf="NationalID.invalid && (NationalID.dirty || NationalID.touched)"
                        class="alert alert-danger">
                        <div *ngIf="NationalID.errors.required">
                            National ID is required.
                        </div>
                    </div>      
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-at"></i>
                            </div>
                        </div>
                        <input required type="email" name="Email" #Email="ngModel" [(ngModel)]="formData.Email" placeholder="please type your email id" class="form-control">
                    </div>
                    <div *ngIf="Email.invalid && (Email.dirty || Email.touched)"
                        class="alert alert-danger">
                        <div *ngIf="Email.errors.required">
                            Email is required.
                        </div>
                    </div>        
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block btn-lg" type="submit" [disabled]="!form.valid"><i class="fas fa-database"></i> Submit</button>
                </div>
            </form>            
        </div>
        <div class="col-md-7">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>NID</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ud of empList">
                    <td>{{ud.FirstName}}</td>
                    <td>{{ud.NationalID}}</td>
                    <td>{{ud.Email}}</td>
                    <td><button class="btn btn-sm btn-info btn-block" (click)="openBackDropCustomClass(content,ud)">Edit User</button></td>
                    <td><button class="btn btn-sm btn-danger btn-block" (click)="onDelete(ud.Email)">Delete User</button></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>